html {
    position: relative;
    min-height: 100%;
  }
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .main-header {
    padding-bottom: 15%;
    width: 100%;
    background-size: cover;
    background-image: url("../images/header.jpg");
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }



 /* ここから */
header {
  height: 50px;
  background-color: #2B2B2B;
}
header ul {
  margin-top: 0;
  padding-left: 20px;
  display: flex;
}
header ul a {
  color: white;
  text-decoration: none;
}
header li {
  padding: 15px 15px 15px 0px;
  list-style: none;
}
header li:nth-of-type(3) {
  margin-left: auto;
}



  /* ここまでがheader部分の実装 */
  .main-header img {
    width: 13%;
    margin-top: 15%;
  /* main画像（白い「Achieve」の文字の画像）部分の実装 */
  }




  .about h1 {
    font-size: 1.5rem;
    margin-top: 20px;
    }
  .about p {
    font-size: 0.8rem;
  }



  /* ここから */
  .function {
    background-color: #D3D3D3;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 15px 0px;
    }
  .function h1 {
    font-size: 1.5rem;
  }
  .function-images {
    display: flex;
    gap: 0px 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .function .function-image img {
    height: 70px;
    width: 75px;
  }
  .function p {
    font-size: 0.7rem;
    width: 110px;
    margin-top: 10px;
  }
.function .function-image .tomo {
    width: 61px;
    padding: 0px 7px;
}



  /* ここまでがfunction部分の実装 */
  footer {
    height: 70px;
    width: 100%;
    background-color: #283A4B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  /* footer部分の実装 */
  }
  footer p {
    color: white;
    font-size: 0.8rem;
    margin: 1px;
  }